<section>

    <div class="heading">
        <h1>REMINDER</h1>
    </div>
</section>

<div>
    <button class="btn btn-success " routerLink="/dashboard" style="margin-left:100px ;">Home</button>
</div>
<div class="container cont">
    <app-deleterem
        [toDeleteEventId]="eventId"
        (onCancel)="Cancelrem()"
        (deleteEvent)="deleteEvent($event)"
      ></app-deleterem>
</div>




<section class="container " style="margin-top:-350px ;">
    

        <table class="table table-hover border-end border-bottom border p-3 gap-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Reminder Date</th>
                <th>Reminder Time</th>
                <th>Reminder Description</th>
                <th style="text-align: center ;">Update</th>
                <th style="text-align: center ;">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events;">
                <th scope="row">{{ events.indexOf(event) + 1 }}</th>
                <td>{{event.date}}</td>
                <td>{{event.time}}</td>
                <td>{{event.description}}</td>
                <td><a href="" routerLink="/updateform/{{event.uid}}"><button class="btn btn-warning" style="width:100% ;" ><i class="fas fa-calendar"></i></button></a></td>
                <td><button id="{{event.id}}" (click)="onDelete($event)" class="btn btn-danger" style="width:100% ;"><i class="fas fa-calendar-times"></i></button></td>
            </tr>                
        </tbody>
    </table>
</section>

