.heading{
    color: rgb(252, 252, 252);
    align-items:center;
    text-align: center;
    margin-top: 30px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:whitesmoke;
    opacity: .8; /* Firefox */
  }

.registerbody{
    background-image: url(../../Images/bglogin.jpg);
}